.container-fluid {

    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.child_element {
    position: absolute;
    top: 21px;
    background: #ffffffe8;
    padding-left: 14px !important;
    margin-top: 15px !important;
    display:none;
}
.bg-white.pinside40.number-block.outline.mb60.bg-boxshadow {
    min-height: 60px !important;
  }
.deposit_dropdown h4{color:#d60f0f;}
.has_drop:hover .child_element{
     display:block;
}
.child_element li{
    display:block !important;
}
.page-header .bg-white {
    background-color: #ffffff91!important;
}
.small, small {color: #007ec4;font-weight: bold;}
a:hover{color:#e01f27 !important;}
.page-title {text-transform: uppercase;color: #000;}
.btn-default:hover {
    color: #fff !important;
    background-color: #007ec4;
    border-color: #e01f27;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #e01f27;
}
.modal_loc p{font-size:14px;}
h4.rate-number {
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}
h4.modal-title.text-uppercase {
    margin-left: 20px;
}
span.adds {
    margin-left: 28px;
}
.modal-xl{max-width:1000px !important;}

.mail-text{
   color: #000;
    font-size: 13px;
}
.fa-phone{
	color: #f00;
	font-size: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 9999;
  right: 0;
  border: 1px solid #b7b7b78c;
  min-width: 145px;
  z-index: 10000;
}
.dropdown-content p{
	text-align: right;
    margin-right: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown span{
    color: #fff;
    display: block;
    font-family: "Titillium Web",sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s ease-in-out 0s;
    line-height: 1.4;
    padding: 5px 19px 5px 12px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    background: #cc0606;
    border-radius: 5px;
    margin-left: 10px;
}
.dropdown p a{
	color: #000;
}
.fa-angle-left{
    float: left;
    padding: 4px;
}
.sub{
	text-align: right;
}
.drop_hidden{
	display: none;
}
.sub_dropdrown{
	position: absolute;
	background-color: #f9f9f9;
	z-index: 9999;
	border: 1px solid #b7b7b78c;
	min-width: 190px;
	right: 145px;
	top: 0;
}
.dropdown ul{
	padding: 5px 5px 0px 5px;
}
.dropdown ul li{
	list-style-type: none;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #DDE3E9;
}
.dropdown ul li:last-child{
	border-bottom: none !important;
}
.for_sub:hover.sub_dropdrown{
  display: block;
}
#myselect{
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 300;
    padding: 0 10px;
}
.h4border{
    background: #423a3a;
    height: 3px;
    width: 40px;
}
.home_product h4, .loan_dropdown h4, .inventor h4 , .contact h4{
    color: #d60f0f;

}
.home_product ul li, .inventor ul li{
	list-style-type: none;
    padding-top: 0px;
    display: inline-block;
}
.home_product ul, .inventor ul{
	list-style-type: none;
	padding-left: 0px;
}
.text-red{color:#e01f27;}
#contact i {
    margin-left: 19px;
}

.home_product ul li a, .inventor ul li a{
    margin-right: 20px;
    color: #353535;
    font-size: 14px;
    font-weight: 500;
}
.form_section input, .form_section select{
	border: none;
    border-bottom: 1px solid #d3d6d8;
    background: #efefef21;
    font-size: 10px;
    width: 100%;
    outline: none;
}
input:focus {
  border: none;
  outline: none;
}
input:blur {
  border: none;
  outline: none;
}
.form_section form{
    border: 1px solid #1b540354;
    padding: 20px 20px 20px 20px;
    width: 330px;
    margin-bottom: 50px;
    border-radius: 3px;
}
#mycheckbox{
    float: left;
    padding: 20px;
    margin: 6px 0px 0px 0px;
    height: 18px;
    width: 20px;
}

.h4borderform{
    background: #423a3a;
    height: 1px;
    width: 80px;
}

.form_section form h5{
    color: #051d07b5;
}
.form_section form h6{
    font-weight: 700;
}

.form_section form label{
	font-size: 11px;
    color: #127d05;
    font-weight: 500;
}
.form_section p{
    font-size: 11px;
    margin-bottom: 0px;
    margin-left: 15px;
}
.form_section .form-submit {
    background: #f00;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin: 15px 0px 0px 40px;
    border-radius: 20px;
}
.form_section span{
	color: #f00;
    font-size: 15px;
}
.without_form{
	padding-top: 15px;
}
.deposit_dropdown ul li{list-style:none;display:inline-block;margin-right: 20px;}
.deposit_dropdown ul{padding-left:0; margin-top:10px;}
.deposit_image{padding-top:50px;}
#home_product{
	display: none;
    position: fixed;
    z-index: 99;
    background: #ffffffe6;
    width: 100%;
    border-top: 1px solid #44556652;
    box-shadow: 0px 3px 4px 0px #5d5d5d;
}
#loan_dropdown{
	display: none;
    position: fixed;
    z-index: 9999;
    background: #ffffffe6;
    padding-bottom: 15px;
    width: 100%;
    border-top: 1px solid #44556652;
    box-shadow: 0px 3px 4px 0px #5d5d5d;
}
#about_dropdown{
	display: none;
    position: fixed;
    z-index: 9999;
    background: #ffffffe6;
    width: 100%;
    border-top: 1px solid #44556652;
    box-shadow: 0px 3px 4px 0px #5d5d5d;
}
i.fa.fa-map-marker {
    color: #fe0101;
}
.fa-phone {
    font-size: 14px;
    vertical-align: middle;
}
i.icon-placeholder-3.icon-1x {
    font-size: 17px;
    vertical-align: middle;
    margin-right:6px;
}
i.icon-phone-call.icon-1x {
    font-size: 17px;
    vertical-align: super;
}
.priv{color:#fff !important;}
.service-block{
    min-height:610px;
}
.number-block {
    min-height: 260px;
}
.bg-white.bg-boxshadow.pinside40.outline.text-center.mb30 {
    min-height: 350px;
}
i.fa.fa-envelope {
    color: #fe0101;
}
#deposit_dropdown{
	display: none;
    position: fixed;
    z-index: 9999;
    background: #ffffffe6;
    width: 100%;
    border-top: 1px solid #44556652;
    box-shadow: 0px 3px 4px 0px #5d5d5d;
}
#contact {
	display: none;
    position: fixed;
    z-index: 9999;
    background: #ffffffe6;
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #44556652;
    box-shadow: 0px 3px 4px 0px #5d5d5d;
}
.loan_dropdown p, .contact p{
	color: #000;
}
.loan_dropdown i{
    font-size: 40px;
    margin: 10px 0px 10px 0px;
    color: #e01f27;
    margin-left: 30px;
}
#inventor{
	display: none;
    position: absolute;
    z-index: 9999;
    background: #fff;
    width: 100%;
    border-top: 1px solid #44556652;
    box-shadow: 0px 3px 4px 0px #5d5d5d;
}
.inventor p{
	color: #000;
	margin-bottom: 0px;
}
.inventor_social ul li{
	list-style-type: none;
     padding: 15px  15px 15px 15px;
     float: left;
}
.inventor_social ul li a{
	font-size: 20px;
	color:#3498db;
}
.inventor_social{
	border-left: 1px solid #cad1d8;
}
.inventor{
	padding: 30px;
}
.inventor_social span{
	color: #3498db;
	padding-left: 10px;
	font-weight: 800;
}
.inventor_social h3{
	margin-bottom: 20px;
}
.inventor_social ul{
	padding-top: 30px;
}

.contact ul p{
    margin-bottom: 0;
}
.contact span{
	color: #000;
	font-weight:0px !important;
}
#cont_follow i{
	font-size: 25px !important;
}
.for_contact i{
   font-size: 40px;
    margin: 10px 0px 10px 0px;
    color: #e01f27;
}
#lookingfor{
	border-bottom: 1px solid rgba(0,51,78,0.2);
	border: none;
    background: none;
    background-color: none;
    font-size: 60px;
    width: 100%;
    border-bottom: 1px solid #1715152e;
    font-family: cursive;
    font-style: italic;
}
#lookingfor:hover{
    border: none;
    background: none;
    border-bottom: 1px solid #1715152e;
}

.lookingfor_form{
	width: 100%;
    border-bottom: 1px solid #9EA5AB;
}
#reset{
	border: none;
	float: right;
	color: #000;
	background: none;
	cursor: pointer;
	font-size: 18px;
}
.heaertext{
    padding: 50px 0px 50px 0px;
}
.tags ul{
	padding-left: 0px;
}
.tags ul li{
	list-style-type: none;
}
.tags ul li a{
    background: #c8dfef;
	font-size: 12px;
    background: #538eae6b;
    padding: 8px;
    float: left;
    margin: 5px;
    color: #088ce4;
    border-radius: 5px;
    border: 1px solid #696464;
}
.about_dropdown li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.tags ul li a:hover{
	font-size: 12px;
    background: #055079;
    padding: 8px;
    float: left;
    margin: 5px;
    color: #fff !important;
    border-radius: 5px;
}
.contact_career ul{padding: 0;}
.inventor_social ul {
    padding: 0;
    margin: 13px 0;
}
.last_text{
	padding-top: 50px;
    padding-bottom: 50px;
    background: #2121211c;
    color: #000;
}
.top_management p{
    margin-bottom: 0;
}
.team_nav ul li a.active{
    background: #cc0606;
    color:#fff;
}
.tiny-footer a {
    color: #000;
}
.single_member{display: none;}
.t_item {
    background: #fff;
    margin-bottom: 15px;
    padding: 20px;
    height: 120px;
    box-shadow: 2px 3px 5px 1px #a9a9a9;
}
.dp-none{display:none}
.search_box{
	padding-bottom: 100px;
}
.search_box {
    padding-bottom: 100px;
    box-shadow: 0px 0px 15px 0px;
}
.footer{
	background: #fff;
}
.lookfor p{
padding: 20px;
font-size: 18px;
color:#fff;
font-weight: 600;
}
.iamlokingbody{
    background: #007BC0;
    margin: 20px 0px 0px 0px;
    box-shadow: 0px 0px 20px 0px;

}


.iamlokingtags ul li a {
    border: 1px solid #fff1f1;
    background: #e01f27;
    color: #fffffff2;
}
.bg-white.pinside40.number-block.outline.mb60.bg-boxshadow {
 background: #3370fb !important;
}

.exiting_for_mobile{
	margin-top: 15px;
}
@media (min-width:768px){
	.exiting_for_mobile{
		display: none;
	}
}
@media (max-width:1350px){
	.form_section form{
		width: 100%;
	}
}


@media (min-width:768px) and (max-width:1300px){
	.form_section .form-submit {
		padding: 5px;
	    font-size: 8px;
	    background: #ca1414;
	    border-radius: 5px;
	}
}

/*#fixed_contact {*/
/*    border-radius: 5px;*/
/*    height: 245px;*/
/*    padding: 10px 10px 10px 10px;*/
/*    -moz-padding: 10px 10px 10px 0px;*/
/*    width: 80px;*/
/*    position: fixed;*/
/*    bottom: 35%;*/
/*    right: 10px;*/
/*    background: #ffffffd6;*/
/*    box-shadow: 0px 0px 15px 0px;*/
/*    z-index: 9;*/
/*}*/
#fixed_contact {
    border-radius: 5px;
    height: 145px;
    width:33px;
    position: fixed;
    bottom: 35%;
    right: 0px;
    z-index: 9;
}


#fixed_contact ul{
    padding: 0px;
    margin: 0px;
    font-size: 8px;
}


.fa-envelope{
font-size: 16px !important;
}
/*#fixed_contact ul li{*/
/*    list-style-type: none;*/
/*    margin: 10px 0px 30px 0px;*/
/*}*/

#fixed_contact ul li{
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    background: #007BC0;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
}
#fixed_contact ul li i{
    padding: 0;
    font-size: 20px;
    -moz-font-size: 20px;
    margin-left: 0px;
    color: #fff !important;
}
#fixed_contact ul li a{
    text-align: center;
}
#fixed_contact ul li a h6{
    font-size: 9px;
    font-family: inherit;
}

.logo{
    float: left;
}
.exiting_for_mobile {
    float: right;
}

.loan_dropdown p, .contact p {
    font-size: 14px;
}

a.search-btn,a.search-btn:active {
    background: none;
}

/*MAX 767*/

@media (max-width:767px){
    .logo span{
        display: none;
    }
    .top-bar{
        display: none;
    }
    .inventor_social span {
        font-weight: 500;
        font-size: 15px;
    }
    .loan_dropdown i {
        font-size: 30px;
    }
    .for_contact i {
        font-size: 25px;
        margin: 10px 0px 10px 0px;
    }
    #contact i {
        margin-left: 16px;
    }
    .inventor_social ul {
         padding-top: 0px;
    }
    .inventor_social ul li {
        padding: 15px 5px 5px 5px;
    }
    #cont_follow{
        padding-left: 0px;
    }
    .dropdown-content {
        font-size: 13px;
    }

    .loan_dropdown p, .contact p {
        font-size: 11px;
    }
    .dropdown p a{
        font-style: unset;
        font-family: sans-serif;
        font-size: 13px;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    .form_section .form-submit {
        margin: 15px 0px 0px 20px !important;
    }
}

@media (max-width:440px){
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    .logo {
        width: 120px;
    }
    .exiting_for_mobile {
        margin-top: 7px;
    }
    .dropdown span {
         font-size: 13px;
    }
    .dropdown-content {
        min-width: 110px;
    }
    .dropdown p a {
        font-size: 12px;
    }
    .main_hide ul{
        margin-bottom: 0rem;
    }
    .sub_dropdrown {
        min-width: 170px;
        right: 122px;
    }
    .lookfor p {
        padding: 20px 20px 0px 20px;
    }
    .iamlokingbody .col-12{
        padding-bottom: 15px;
    }
     .home_product h4, .loan_dropdown h4, .inventor h4, .contact h4 {
        font-size: 13px;
        line-height: 1.1;
        margin-bottom: 6px;
    }
    .home_product ul li, .loan_dropdown ul li, .inventor ul li, .contact ul li {
        line-height: 1.5 !important;
    }

    .home_product ul li a, .inventor ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    .home_product ul li, .inventor ul li {
        padding-top: 0px;
    }
    .without_form {
        padding-top: 10px;
    }
    .form_section .form-submit {
        font-size: 13px;
        margin: 15px 0px 0px 30px;
    }
    .loan_dropdown i {
        font-size: 25px;
    }

    .inventor p {
        font-size: 13px;
    }
    .inventor ul i{
        float: left;
        font-size: 13px;
    }
    .inventor_social span {
       padding-left: 0px;
        font-size: 11px;
    }
    #cont_follow i{
        font-size: 17px !important;
        margin: 5px 0px 0px 0px;
    }
    #cont_follow i {
        margin: 0px 2px 0px 0px !important;
    }
    .inventor_social span {
        padding-left: 3px;
    }
}



/** ARIF **/

.carousel-caption {
    left: 25% !important;
    top: 35% !important;
    right: 25%;
}
.frist_slider h2{
    text-align: left;
    color: #fff;
}

.for_backgroud{
    text-align: left;
    color: #fff;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(142, 141, 141));
    padding: 15px;
}

.divider{
    height: 3px;
    width: 100px;
    background: #fcffff;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 15px;
}

#apply_section{
    padding: 40px;
    background: #E01F27;
    border-radius: 5px;
    position: absolute;
    margin-top: -80px;
    z-index: 9;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
     transform: translateX(-50%)
}

#apply_section h1, #apply_section h3{
    color: #fff;
}

.myaplybtn{
    border: none;
    padding: 15px;
    float: right;
    margin-top: 15px;
    border-radius: 50px;
    background: #b72329;
    color: #fff;
    cursor: pointer;
}
.myaplybtn:hover{
    background: #fff !important;
}

#purpose_section{
    margin-top: 170px;
    margin-bottom: 60px;
    text-align: center;
}
.purpose_title, #programs_section h1, #programs_section p{
    text-align: center;
    font-size: 25px;
}


#programs_section p{
    font-family: ProximaNova-Light;
    line-height: 22px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

#programs_section h1{
    text-align: center;
    font-size: 44px;
    font-weight:600;
    color: #000;
    font-family: ProximaNova-Semibold;
}

#programs_section{
    margin-top: 60px;
    margin-bottom: 60px;
}

#program_img{
    margin-top: 60px;
}
#program_img p{
    text-align: left;
    font-size: 16px;
    font-style: normal;
}

#program_img h4{
    font-style: normal;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    font-family: ProximaNova-Light;
}

#program_img a{
    color: #f00;
}

#reason h4{
    font-style: normal;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    font-family: ProximaNova-Light;
    text-align: right;
}

#reason p{
    text-align: right;
    font-size: 16px;
    font-style: normal;
}

.join_us h4, .join_us p{
    text-align: center;
}
.footer.section-space100 {
    padding: 0px 0 30px;
    box-shadow: 0px 2px 8px 2px #d4d4d4;
}
.owl-next,.owl-prev {
    border: none !important;
    color: #e01f27 !important;
    font-size: 50px !important;
}

.breaking_news ul li{
    padding-right: 10px;
}
.breaking_news ul li a{
    color: #000;
}
.breaking_news {
    border: 2px solid #ec2825;
}
.titl {
    background: #cc0606;
    height: 100%;
}
.titl strong{
    text-align: center;
    display: block;
    line-height: 35px;
    color: #fff !important;
}
.news_nav li.nav-item {
    width: 20%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff !important;
    background-color: #cc0606 !important;
    background: linear-gradient(to right,#ed2625,#eff3f800) !important;
}
.date{
    background: #fff;
    padding: 20px 20px 5px 20px;
    font-size: 50px;
    font-weight: bold;
}
.month {
    background: #cc0606;
    padding: 4px 20px 5px 20px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.news_nav a:hover{
    color:#000 !important;
}
.details_news{display: none;}
.csr_row {
    background: #fff;
    padding: 20px;
    min-height: 389px;
    cursor: pointer;
}
.csr_row img {
    width: 100%;
    height: 220px;
}
.csr_row p{
    text-align: center;
    margin-top: 15px;
}

.myapplybtn{
    text-align: center;
    border: 2px solid #f00;
    padding: 15px 35px 15px 35px;
    border-radius: 50px;
    color: #f00;
    cursor: pointer;
    background: #fff;
    margin-left: 90px;
    font-weight: 700;
}
.media_main .media-body{
    height: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
  }


.myapplybtn:hover{
    background: #fff;
    color: #000;
}

#footer_join{
    padding-bottom: 60px;
}

.team{
    width: 50% !important;
    left: 25% !important;
    background: #fff !important;
    border:1px solid #f00 !important;
    padding: 25px !important;
}

.team h1, .team p{
    color: #000 !important;
    text-align: center;
}

.team h1{
    font-weight: 600px !important;
    font-size: 36px;
    font-family: ProximaNova-Semibold;
}


#team_section{
    margin-bottom: 70px;
}

.team_nav ul li{
    list-style-type: none;
    float: left;
}

.team_nav ul li a{
    padding: 7px 15px 7px 15px;
    margin-right: 15px;
    color: #000;
}
.team_nav ul li a:hover{
    background: #e21313;
    color: #fff !important;
}

#team_nav_section{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #e2e2e24f;
}

.single_member{
    border: 1px solid #ff000024;
    border-radius: 7px;
    margin-bottom: 20px;
}

.member{
    padding: 10px 0px 10px 0px;
}


.member img{
    border-radius: 7px;
}

.member_name{
    font-family: ProximaNova-Light;
    color: #333333;
    font-size: 26px;
}

.diagnation strong{
    font-family: ProximaNova-Semibold;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.member_divider{
    height: 3px;
    width: 50px;
    background: #dadada;
}

.member_arrow i{
    margin-top: 55px;
    cursor: pointer;
}
.member_dialuge {
    display: none;
}
.member_dialuge p{
    color: #000;
    font-size: 12px;
    line-height: 26px;
}

.member_dialuge h5{
    margin-top: 15px;
}

.banner img{
    height: 450px;
    width: 100%;
    object-fit:cover;
}
#expertise #program_img h4 {
    margin: 0px 0px 0px 0px !important;
}
#expertise .myapplybtn {
    margin-left: 0px !important;
}

.single_we img{
    border: 2px solid #c92828;
    border-radius: 4px;
}
.our_info p{
    font-family: 'ProximaNova-Light';
    color: #000;
}
.our_info{
    margin-top: 30px;
}
.our_info span{
    font-size: 14px;
    font-family: ProximaNova-Light;
    color: #000;
    font-style: italic;
}
#here_from_us h5{
    text-align: center;
    font-size: 26px;
    font-family: ProximaNova-Light;
    color: #333333;
    font-weight: 500;
     margin-bottom: 40px;
}

.single_we{
    margin-bottom: 30px;
}
.owl-prev {
    left: -50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-next {
    right: -50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
    .team {
        width: 100% !important;
    }
    .owl-buttons {
        display: none;
    }
    #contact,#loan_dropdown,#deposit_dropdown,#home_product,#about_dropdown{position: absolute;}
  }

@media (min-width: 1200px) {
    .col-lg-8 {
        width: 100%;
    }
}

.widget-footer ul li, listnone {
    list-style: none;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}



.navbar-nav>li>.dropdown-menu {

    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*@media (min-width: 768px)*/
/*{*/
/*    .open .dropdown-toggle:after {*/
/*        border-bottom: 15px solid #fff;*/
/*        border-left: 17px solid transparent;*/
/*        border-right: 17px solid transparent;*/
/*        content: "";*/
/*        left: 163px;*/
/*        position: absolute;*/
/*        bottom: -21px;*/
/*        z-index: 1500;*/
/*    }*/
/*    .open .dropdown-toggle span:after {*/
/*        border-bottom: 17px solid #ccc;*/
/*        border-left: 19px solid transparent;*/
/*        border-right: 19px solid transparent;*/
/*        content: "";*/
/*        left: -10px;*/
/*        position: absolute;*/
/*        bottom: -41px;*/
/*        z-index: 8;*/
/*    }*/
/*}*/
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: black;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: red;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}




